/* dashboard.module.css */
.dashboardContainer {
    padding: 20px;
    background-color: #f9f9f9;
    height: calc(100% - 40px);
    /* min-height: 100vh; */
}

.header {
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 5px;
}

.subtitle {
    color: #6c757d;
    margin: 0;
    font-size: 14px;
}

.tabContainer {
    display: flex;
    margin-bottom: 20px;
    display: inline-block;
    padding: 3px;
    background: #E6E8EA;
    border-radius: 8px;
}

.tabButton {
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.activeTab {
    background-color: #000;
    color: #fff;
}

.inactiveTab {
    background-color: #E6E8EA;
    color: #333;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.highlightedCard {
    border: 2px solid #9333ea;
}

.icon {
    font-size: 24px;
    color: #ff7043;
    margin-bottom: 10px;
}

.cardTitle {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.timeInfo {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #6c757d;
    font-size: 13px;
    margin-bottom: 20px;
}

.clockIcon {
    font-size: 16px;
}

.statusSection {
    margin-bottom: 20px;
}

.status {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 5px;
}

.statusBar {
    height: 1px;
    background-color: #eee;
    width: 100%;
}

.beginSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.beginText {
    font-size: 14px;
    font-weight: 500;
}

.arrow {
    font-size: 10px;
}